html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.container {
  height: 900px;
  width: 1000px;
  /* background-color: #573b8a; */
  margin: 0 auto;
  box-shadow: 5px 20px 50px #000;
  border-radius: 10px;
  background: linear-gradient(to bottom, #161238, #302b63, #373766);

}
.side-bar{
    position: absolute;
    height: 900px;
    width: 300px;
    padding: 0;
    margin: 0;
    background-color: #66628d;
    border-radius: 10px;
}
.profile-image {
    margin: 40px 40px;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}
.profile-image img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.profile-name{
    margin-left: 50px;
    margin-top: -30px;
    width: 50%;
    color: #fff;
}
.profile-name > i {
    /* background-color: gray; */
    position: absolute;
    margin-top: -15px;
}
.nav-bar {
    /* background-color: blue; */
    height: 500px;
    width: 70%;
    position: absolute;
    margin: 70px 40px;
}
.sidenav {
    height: 500px;
    width: 70%;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 10px;
  }

  .sidenav a, .dropdown-btn {
    padding: 9px 8px 9px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .sidenav a:hover, .dropdown-btn:hover {
    color: #302b63;
  }
  .dropbtn {
    /* background-color: #04AA6D; */
    color: white;
    /* padding: 10px; */
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a19dc4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #dfdee7;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
.main {
    height: 800px;
    width: 30%;
    /* background-color: green; */
    margin-left: 20%;
    margin-top: 40px;
}
aside {
    height: 700px;
    width: 500px;
    /* background-color: yellow; */
    margin-left: 20px;
    color: white;
}
aside > p {
    /* background-color: silver; */
    height: 300px;
    width: 500px;
    margin-left: -10px;
    color: white;
    text-align: justify;
    line-height: 30px;
}
h2 {
    color: white;
}